# See https://www.dartlang.org/tools/private-files.html

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
pubspec.lock
build/
ios/.generated/
packages
.flutter-plugins
